@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter";
}

:root {
    --plyr-color-main: #ef5a6f !important;
}

.podcast-player {
    --plyr-control-icon-size: 24px !important;
    --plyr-audio-controls-background: #ffd0d2 !important;
}

.dark .podcast-player {
    --plyr-audio-controls-background: #1c1917 !important;
}

#main-podcast-player-container {
    --plyr-audio-controls-background: #ffd0d2 !important;
}

.dark #main-podcast-player-container {
    --plyr-audio-controls-background: #1c1917 !important;
}
