@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter";
}

:root {
    --plyr-color-main: #ef5a6f;
    --plyr-control-icon-size: 24px;
    --plyr-audio-controls-background: #fafaf9;
}
