@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter";
}

.podcast-player {
    --plyr-color-main: #ef5a6f !important;
    --plyr-control-icon-size: 24px !important;
    --plyr-audio-controls-background: #fff1db !important;
}

#main-podcast-player-container {
    --plyr-color-main: #ef5a6f !important;
    --plyr-audio-controls-background: #fff1db !important;
}
