<script props>
  module.exports = {
    title: props.title,
  };
</script>

<div class="border-2 border-solid border-[#ffeff0] rounded p-4 space-y-8">
  <table class="w-full">
    <tr>
      <td class="w-2/4 text-left text-3xl sm:text-2xl">
        <div><slot:icon /></div>
      </td>
      <td class="w-2/4 text-right text-xl sm:text-base">
        <div class="opacity-90 text-[#EF5A6F]">{{ title }}</div>
      </td>
    </tr>
  </table>

  <div>
    <slot:materials />
    <div class="relative">
      <table class="w-full mt-6">
        <tr>
          <th class="w-3/12 sm:w-full sm:inline-block font-normal text-left">
            <div>
              <img
                src="@{{ asset($material->thumbnail) }}"
                class="rounded w-36 h-24 sm:w-full sm:h-36 object-cover"
              />
            </div>
          </th>
          <th
            class="w-9/12 sm:w-full sm:inline-block pl-4 sm:pl-0 align-top font-normal text-left sm:mt-2"
          >
            <div>
              <div
                class="font-bold line-clamp-2 text-sm"
                title="{!! $material->title !!}"
              >
                {!! $material->title !!}
              </div>
              <table>
                <tr class="opacity-70 text-sm mt-1">
                  <td>
                    @{{ str($material->source->type->value)->title() }} by
                  </td>
                  <td class="px-1">
                    <img
                      src="@{{ asset('storage/' . $material->source->publisher->logo) }}"
                      class="w-6 rounded-full"
                    />
                  </td>
                  <td>@{{ $material->source->publisher->name }}</td>
                </tr>
              </table>
              <div class="sm:mt-4">
                <a
                  class="text-[#EF5A6F] underline text-sm"
                  href="@{{ route('materials.show', $material->slug) }}"
                  >Read more</a
                >
              </div>
            </div>
          </th>
        </tr>
      </table>
      <a
        class="absolute size-full inset-0"
        href="@{{ route('materials.show', $material->slug) }}"
      ></a>
    </div>
    @if (!$loop->last)
    <hr class="mt-6 border-solid border-stone-200" />
    @endif @endforeach
  </div>
</div>
